SOLANA_RPC_URL=https://devnet.helius-rpc.com/?api-key=72ed365b-573a-481b-9bd2-8b8e14e253b1
AGENT_PRIVATE_KEY=YOUR_BASE58_PRIVATE_KEY
RECEIVER_WALLET=GmcEAsKyrNJcJWjZuw3xjbfEgB1TYnLztXC1LbP3Eg5h
NEXT_PUBLIC_SOLANA_NETWORK=devnet
NEXT_PUBLIC_RECEIVER_WALLET=GmcEAsKyrNJcJWjZuw3xjbfEgB1TYnLztXC1LbP3Eg5h
HELIUS_API_KEY=72ed365b-573a-481b-9bd2-8b8e14e253b1
