SOLANA_RPC_URL=https://devnet.helius-rpc.com/?api-key=YOUR_HELIUS_API_KEY
AGENT_PRIVATE_KEY=YOUR_BASE58_PRIVATE_KEY
RECEIVER_WALLET=YOUR_RECEIVER_WALLET_PUBLIC_KEY
NEXT_PUBLIC_SOLANA_NETWORK=devnet
NEXT_PUBLIC_RECEIVER_WALLET=YOUR_RECEIVER_WALLET_PUBLIC_KEY
HELIUS_API_KEY=YOUR_HELIUS_API_KEY
